#Python For Data Science

In [ ]:
print("Hello World")

Hello World

#Variables

In [ ]:
x=5
%whos

Variable   Type        Data/Info
--------------------------------
a          tuple       n=3
add        function    <function add at 0x7bc37bc9f2e0>
b          tuple       n=3
f          function    <function f at 0x7bc3bfba0940>
fun        function    <function fun at 0x7bc3ae8c1e10>
intPart    int         32
l          list        n=3
list       list        n=4
module     module      <module 'module' from '/content/module.py'>
s          list        n=1
string     str         Outside function
sys        module      <module 'sys' (built-in)>
x          int         5
y          int         32

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
x=3.6
%whos

Variable   Type        Data/Info
--------------------------------
a          tuple       n=3
add        function    <function add at 0x7bc37bc9f2e0>
b          tuple       n=3
f          function    <function f at 0x7bc3bfba0940>
fun        function    <function fun at 0x7bc3ae8c1e10>
intPart    int         32
l          list        n=3
list       list        n=4
module     module      <module 'module' from '/content/module.py'>
s          list        n=1
string     str         Outside function
sys        module      <module 'sys' (built-in)>
x          float       3.6
y          int         32

In [ ]:
y=9
a,b=2.0,"abcd"
p=3-2j

In [ ]:
%whos

Variable   Type        Data/Info
--------------------------------
a          float       2.0
add        function    <function add at 0x7bc37bc9f2e0>
b          str         abcd
f          function    <function f at 0x7bc3bfba0940>
fun        function    <function fun at 0x7bc3ae8c1e10>
intPart    int         32
l          list        n=3
list       list        n=4
module     module      <module 'module' from '/content/module.py'>
p          complex     (3-2j)
s          list        n=1
string     str         Outside function
sys        module      <module 'sys' (built-in)>
x          float       3.6
y          int         9

In [ ]:
del y
print(y)

NameError: name 'y' is not defined

In [ ]:
%whos

Variable   Type        Data/Info
--------------------------------
a          float       2.0
add        function    <function add at 0x7bc37bc9f2e0>
b          str         abcd
f          function    <function f at 0x7bc3bfba0940>
fun        function    <function fun at 0x7bc3ae8c1e10>
intPart    int         32
l          list        n=3
list       list        n=4
module     module      <module 'module' from '/content/module.py'>
p          complex     (3-2j)
s          list        n=1
string     str         Outside function
sys        module      <module 'sys' (built-in)>
x          float       3.6

#Operators

<table>
<tr>
<td>Symbol</td>
<td>Task</td>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
</tr>
<tr>
<td>//</td>
<td>Floor Division</td>
</tr>
<tr>
<td>%</td>
<td>Mod</td>
</tr>
<tr>
<td>**</td>
<td>Power</td>
</tr>
</table>

In [ ]:
print(13+3)
print(13-3)
print(13/3)
print(13*3)
print(13//3)
print(13%3)
print(13**3)

16
10
4.333333333333333
39
4
1
2197

In [ ]:
print(((12**7+8)*(3%2-8))//7)

-35831816

In [ ]:
s1="hello"
s2="world"
print(s1+" "+s2)

hello world

* Variables can only start with [a-z], [A,Z] and _ <br>
* Use camel case

#Bool

In [ ]:
a=True
b=True
c=False
print(a and b)
print(a or b)
print(not c)
print(a and c)

True
True
True
False

In [ ]:
print(not((a and b) or (b and c)))

False

In [ ]:
False and False or True
# Here and is applied first

True

In [ ]:
True or False and False
# Here also and is applied first

True

* Precedence: and>or

#Comparisons
<table>
<tr>
<td>Symbol</td>
<td>Task</td>
</tr>
<tr>
<td>==</td>
<td>Equal to</td>
</tr>
<tr>
<td>!=</td>
<td>Equal to</td>
</tr>
<tr>
<td><</td>
<td>Less than</td>
</tr>
<tr>
<td>></td>
<td>Greater than</td>
</tr>
<tr>
<td><=</td>
<td>Less than or equal to</td>
</tr>
<tr>
<td>>=</td>
<td>Greater than or equal to</td>
</table>
<br>
They return bool value i.e. True or False

In [ ]:
print(2==3)
print(2!=3)
print(2<3)
print(2>3)
print(2<=3)
print(2>=3)

False
True
True
False
True
False

In [ ]:
print(3==3.0)

True

#Some Useful Functions
* round() -

In [ ]:
print(round(4.556))
print(round(4.345))
print(round(4.556389,3))

5
4
4.556

* divmod()

In [ ]:
B = divmod(27,5)
print(B)
type(B)

(5, 2)

tuple

In [ ]:
B[0]

5

In [ ]:
B[1]

2

* isinstance()

In [ ]:
isinstance(3,int)

True

In [ ]:
isinstance(3.4,(int))

False

In [ ]:
isinstance(2+3j,(int,float,str,complex))

True

* pow()

In [ ]:
pow(2,4)

16

In [ ]:
pow(2,4,7)

2

* input()

In [ ]:
x=input("Enter a number: ")

Enter a number: 2

In [ ]:
type(x)

str

In [ ]:
x=int(x)
type(x)

int

In [ ]:
a=float(input("Enter a real number: "))

Enter a real number: 3

In [ ]:
type(a)

float

In [ ]:
b=float(input("Enter a real number: "))

Enter a real number: xyz

ValueError: could not convert string to float: 'xyz'

#How to know what a function is meant for

In [ ]:
help(isinstance)
# isinstance? will also yield the same

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [ ]:
help(pow)
# pow? will also yield the same

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

#Control Flow (Conditionals)

In [ ]:
a=int(input())
b=int(input())
if(a>b):
  print("Bigger is",a)
  print("I am still inside if condition")
print("I am outside the if condition")

10
5
Bigger is 10
I am still inside if condition
I am outside the if condition

In [ ]:
a=int(input())
b=int(input())
if(a>b):
  print("Bigger is",a)
elif(b>a):
  print("Bigger is",b)
else:
  print("Equal")

10
10
Equal

In [ ]:
a=5
b=10
print("A") if a>b else print("B") if b>a else print("Equal")

B

In [ ]:
a=int(input())
if a>10:
    print(">10")
elif not(a>10):
    print("Else part")

4
Else part

In [ ]:
n=int(input())
if n>10:
  print("Larger than 10")
  if(n>20):
    print("Larger than 20")
  else:
    print("Less than 20")

12
Larger than 10
Less than 20

In [184]:
x=float(input())
y=round(x)

if x>0:
  if y>x:
    intPart=y-1
  else:
    intPart=y
else:
  if y<x:
    intPart=y+1
  else:
    intPart=y

if intPart%2==0:
  print("Even")
else:
  print("Odd")

32.5
Even

#While Loop

In [ ]:
n=int(input())
print("\n")
i=1
while i<=n:
  print(i)
  i+=1
print("Done")

3


1
2
3
Done

In [ ]:
n=10
i=1
while True:
    if i%3==0:
        print(i)
        print("Break encountered")
        break
    else:
        print(i)
        i=i+1

1
2
3
Break encountered

In [ ]:
n=10
i=1
while True:
    if i%3!=0:
        print("Inside if")
        i+=1
        continue
    print("Something (that will not be printed because of continue until condition is not satisfied after 2 iterations)")
    break

Inside if
Inside if
Something (that will not be printed because of continue until condition is not satisfied after 2 iterations)

#For Loop

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(1,6,2):
  print(i)

1
3
5

* else inside for loop

In [ ]:
L=[1,2,3,4,5]
for i in L:
  print(i)
else:
  print("Done")

1
2
3
4
5
Done

In [ ]:
L=[1,2,3,4,5]
for i in L:
  print(i)
  if(i==3):
    break
else:
  print("Done")

1
2
3

In [ ]:
'''Given a list, sort it'''
L=[5,4,2,9,-1,7]
sorted=[]
mini=L[0]

for i in range(len(L)):
  for j in range(len(L)):
    if L[j]>L[i]:
      temp=L[i]
      L[i]=L[j]
      L[j]=temp

print(L)

[-1, 2, 4, 5, 7, 9]

#Functions

In [ ]:
def Barcelona():
  print("Visca el Barca")
  print("Visca el Catalunya")

In [ ]:
Barcelona()

Visca el Barca
Visca el Catalunya

In [ ]:
def hello():
  '''This is a docstring (documenation string) that tells what a function does'''
  print("Hello World")

In [ ]:
help(hello)

Help on function hello in module __main__:

hello()
    This is a docstring (documenation string) that tells what a function does

In [ ]:
print(hello.__doc__)

This is a docstring (documenation string) that tells what a function does

In [ ]:
def printMsg(msg):
  if(isinstance(msg,str)):
    print(msg)
  else:
    print("Your input is not a string")
    print("Here is the type of what you have supplied",type(msg))

In [ ]:
printMsg("Hi there")

Hi there

In [ ]:
printMsg(3)

Your input is not a string
Here is the type of what you have supplied <class 'int'>

In [ ]:
def mypow(a,b):
  print(pow(a,b))

In [ ]:
mypow(2,7)

128

In [ ]:
mypow(2)

TypeError: mypow() missing 1 required positional argument: 'b'

In [ ]:
mypow("J",2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
mypow(1,2,3)

TypeError: mypow() takes 2 positional arguments but 3 were given

* Ordering of input arguments

In [ ]:
def f(a,b,c):
  print("A:",a, " B:",b, " C:",c)

In [ ]:
f(1,2,3)
f(2,3,1)

A: 1  B: 2  C: 3
A: 2  B: 3  C: 1

In [ ]:
f(a=1,b=2,c=3)
f(b=2,c=3,a=1)

A: 1  B: 2  C: 3
A: 1  B: 2  C: 3

* Local vs Global variables

In [ ]:
def f():
  print(a)
a=10
f()

10

In [ ]:
a=10
def f():
  a=2
  print(a)
f()
print(a)

2
10

* return statement

In [ ]:
def add(a,b):
  return a+b

In [ ]:
c=add(2,3)
print(c)

5

In [ ]:
print(add(4,3))

7

In [ ]:
def r():
  a=5
  b=7
  c="x"
  return a,b,c

In [ ]:
r()

(5, 7, 'x')

* None Data type

In [ ]:
def f():
  a=4

In [ ]:
print(f())

None

In [ ]:
type(f())

NoneType

In [ ]:
def g():
  a=8
  b=5
  print("Hi")
  return a+b
  print("Bye")

In [ ]:
g()

Hi

13

#Variable number of input arguments
* args()- variable number of arguments {*}
* kwargs()- variable number of keyword arguments {**}

In [ ]:
def sum(*args):
  s=0
  for i in range(len(args)):
    s+=args[i]
  return s

In [ ]:
sum(1,2,3,4,5)

15

In [ ]:
sum(1,-4,7)

4

In [ ]:
def fun(**kwargs):
  for k in kwargs:
    print(k,":",kwargs[k])

In [ ]:
fun(c=1,b=2,a=3)

c : 1
b : 2
a : 3

In [ ]:
def f(a,*args):
  for i in args:
    print(i)

f(1,2,3,4,5)
# 1 is assigned to a which is not a part of args

2
3
4
5

In [ ]:
def f(a,*args,**kwargs):
  print(a)
  for i in args:
    print(i)
  for k in kwargs:
    print(k,":",kwargs[k])

f(1,2,3,4,c="Five",d="Six")

1
2
3
4
c : Five
d : Six

#Default value of arguments

In [ ]:
def f(a=6):
  print(a)

In [ ]:
f(2)

2

In [ ]:
f()

6

#Call by value vs Call by reference
* In python mutable data types are called by reference like lists and immutable like tuples are called by value

In [ ]:
a=[3,4,5]
b=a
b[0]=1
print(a)

[1, 4, 5]

In [ ]:
#Call by value for string
def f(string):
  string="Inside function"
  print(string)

string="Outside function"
f(string)
print(string)

Inside function
Outside function

In [ ]:
#Call by refernece for list
def f(list):
  list.append(10)
  print(list)

list=[4,5,6]
f(list)
print(list)

[4, 5, 6, 10]
[4, 5, 6, 10]

#Modules
* Created a module elsewhere and uploaded it here
* Then run the !cp address command to copy the address
* Then you can import your module

In [ ]:
!cp /content/module.py

cp: missing destination file operand after '/content/module.py'
Try 'cp --help' for more information.

In [ ]:
import module

In [ ]:
help(module)

Help on module module:

NAME
    module - Module.ipynb

DESCRIPTION
    Automatically generated by Colab.

    Original file is located at
        https://colab.research.google.com/drive/1AIEpspLB4usBxRyxqaqpgbuHs9pprU2o

FUNCTIONS
    add(*args)

    checkIfNumeric(*args)

FILE
    /content/module.py

In [ ]:
module.add(3,3,4,13,6,34)

63

In [ ]:
module.checkIfNumeric(1,2,3)

True

In [ ]:
from module import add

In [ ]:
add(1,2,3)

6

#Sort a list by creating functions

In [30]:
def minList(L,start):
  mini=L[start]
  idx=start
  for i in range(start,len(L)):
    x=L[i]
    if x<mini:
      mini=x
      idx=i
  return mini,idx

In [31]:
def swap(L,idx1,idx2):
  temp=L[idx2]
  L[idx2]=L[idx1]
  L[idx1]=temp
  return L

In [32]:
def sort(L):
  c=0
  for i in L:
    min,idx=minList(L,c)
    swap(L,idx,c)
    c+=1
  return L

In [33]:
sort([1,3,2,4,6,7,5,4,0])

[0, 1, 2, 3, 4, 4, 5, 6, 7]

#String

In [35]:
s="Hello"
t="World"
print(s+" "+t)

Hello World

In [36]:
a='The price is'
b=20
s=a+" "+str(b)
print(s)
print(a,b)

The price is 20
The price is 20

* Multiline strings

In [42]:
s='''This is line 1
This is line 2
This is line 3'''

In [43]:
print(s)

This is line 1
This is line 2
This is line 3

* Indexing and Slicing in Strings

In [44]:
s="Visca el Barca, Visca el Catalunya"

In [46]:
s[6]

'e'

In [48]:
s[3:27]

'ca el Barca, Visca el Ca'

In [51]:
s[-15]

'c'

In [55]:
s[-12:-2]

'el Catalun'

In [57]:
s[1:17:3]

'ialaaV'

In [61]:
s[:20:2]

'Vsae ac,Vs'

In [62]:
s[:3]

'Vis'

In [63]:
s[:]

'Visca el Barca, Visca el Catalunya'

In [65]:
s[::-1]

'aynulataC le acsiV ,acraB le acsiV'

In [70]:
s[:3:-1]

'aynulataC le acsiV ,acraB le a'

* The in and not in operators

In [80]:
print('Hello' in 'Hello World')
print('Hello' in 'Hello')
print('HELLO' in 'Hello World')
print('' in 'spam')
print('cats' not in 'cats and dogs')

True
True
False
True
False

* Removing whitespace and characters with strip(), rstrip(), and lstrip()

In [91]:
s='      Hi There      '
print(s.strip())
print(s.rstrip())
print(s.lstrip())

Hi There
      Hi There
Hi There

In [92]:
s='aspHipsasap'
print(s.strip('sap'))

Hi

* upper(), lower() and title() <br>
Transforms a string to upper, lower and title case

In [93]:
s='Hello world'
print(s.upper())
print(s.lower())
print(s.title())

HELLO WORLD
hello world
Hello World

* split() <br>
The split() method splits a string into a list. By default, it will use whitespace to separate the items, but you can also set another character of choice.

In [99]:
s='My name is Aseem'
print(s.split())
print(s.split('m'))

['My', 'name', 'is', 'Aseem']
['My na', 'e is Asee', '']

* join() <br>
The join() method takes all the items in an iterable, like a list, dictionary, tuple or set, and joins them into a string. You can also specify a separator.

In [103]:
print(' '.join(['My', 'name', 'is', 'Aseem']))
print(''.join(['My', 'name', 'is', 'Aseem']))
print('-'.join(['My', 'name', 'is', 'Aseem']))

My name is Aseem
MynameisAseem
My-name-is-Aseem

* replace() <br>
Replaces all occurences of a given substring with another substring. Can be optionally provided a third argument to limit the number of replacements. Returns a new string.

In [106]:
s="hi hi ; there"
print(s.replace('hi','hello'))
print(s.replace(';','&&'))
print(s.replace('hi','hello',1))

hello hello ; there
hi hi && there
hello hi ; there


* isX Methods in Strings <br>
-> isalpha() returns True if the string consists only of letters. <br>
-> isalnum() returns True if the string consists only of letters and numbers. <br>
-> isdecimal() returns True if the string consists only of numbers. <br>
-> isspace() returns True if the string consists only of spaces, tabs, and new-lines. <br>
-> istitle() returns True if the string consists only of words that begin with an uppercase letter followed by only lowercase characters. <br>
-> islower() returns True if string consist only of lowercase characters. <br>
-> isupper() returns True if string consist only of uppercase characters. <br>

In [118]:
s='helloworld'
print(s.isalpha())
print(s.isalnum())
print(s.isdecimal())
print(s.isspace())
print(s.istitle())
print(s.islower())
print(s.isupper())

True
True
False
False
False
True
False

* Escape characters <br>
An escape character is created by typing a backslash \ followed by the character you want to insert.

<table>
<tr>
<td>Esacpe character</td>
<td>Prints as</td>
</tr>
<tr>
<td>\'</td>
<td>Single quote</td>
</tr>
<tr>
<td>\"</td>
<td>Double quote</td>
</tr>
<tr>
<td>\t</td>
<td>Tab</td>
</tr>
<tr>
<td>\n</td>
<td>Newline</td>
</tr>
<tr>
<td>\\</td>
<td>Backslash</td>
</tr>
<tr>
<td>\b</td>
<td>Backspace</td>
</tr>
<tr>
<td>\r</td>
<td>Carriage return</td>
</tr>
</table>

In [122]:
print("This is a double quoted \"string\" and it continues")

This is a double quoted "string" and it continues

In [127]:
print("This is a \t tab string")
print("This is a \n newline string")
print(' ')
print("This is a \\ string")
print("This is a\bstring, Notice 'a' is not here")
print("This is a \rstring")

This is a 	 tab string
This is a
 newline string

This is a \ string
This is astring, Notice 'a' is not here
string

* Raw strings <br>
A raw string entirely ignores all escape characters and prints any backslash that appears in the string.

In [129]:
print("C:\name\drive")

C:
ame\drive

In [130]:
print(r"C:\name\drive")

C:\name\drive