#Python For Data Science

In [ ]:
print("Hello World")

Hello World

#Variables

In [ ]:
x=5
%whos

Variable   Type       Data/Info
-------------------------------
a          float      2.0
b          str        abcd
p          complex    (3-2j)
x          int        5

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
x=3.6
%whos

Variable   Type       Data/Info
-------------------------------
a          float      2.0
b          str        abcd
p          complex    (3-2j)
x          float      3.6

In [ ]:
y=9
a,b=2.0,"abcd"
p=3-2j

In [ ]:
%whos

Variable   Type       Data/Info
-------------------------------
a          float      2.0
b          str        abcd
p          complex    (3-2j)
x          float      3.6
y          int        9

In [ ]:
del y
print(y)

NameError: name 'y' is not defined

In [ ]:
%whos

Variable   Type       Data/Info
-------------------------------
a          float      2.0
b          str        abcd
p          complex    (3-2j)
x          float      3.6

#Operators

<table>
<tr>
<td>Symbol</td>
<td>Task</td>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
</tr>
<tr>
<td>//</td>
<td>Floor Division</td>
</tr>
<tr>
<td>%</td>
<td>Mod</td>
</tr>
<tr>
<td>**</td>
<td>Power</td>
</tr>
</table>

In [ ]:
print(13+3)
print(13-3)
print(13/3)
print(13*3)
print(13//3)
print(13%3)
print(13**3)

16
10
4.333333333333333
39
4
1
2197

In [ ]:
print(((12**7+8)*(3%2-8))//7)

-35831816

In [ ]:
s1="hello"
s2="world"
print(s1+" "+s2)

hello world

* Variables can only start with [a-z], [A,Z] and _ <br>
* Use camel case

#Bool

In [ ]:
a=True
b=True
c=False
print(a and b)
print(a or b)
print(not c)
print(a and c)

True
True
True
False

In [ ]:
print(not((a and b) or (b and c)))

False

In [ ]:
False and False or True
# Here and is applied first

True

In [ ]:
True or False and False
# Here also and is applied first

True

* Precedence: and>or

#Comparisons
<table>
<tr>
<td>Symbol</td>
<td>Task</td>
</tr>
<tr>
<td>==</td>
<td>Equal to</td>
</tr>
<tr>
<td>!=</td>
<td>Equal to</td>
</tr>
<tr>
<td><</td>
<td>Less than</td>
</tr>
<tr>
<td>></td>
<td>Greater than</td>
</tr>
<tr>
<td><=</td>
<td>Less than or equal to</td>
</tr>
<tr>
<td>>=</td>
<td>Greater than or equal to</td>
</table>
<br>
They return bool value i.e. True or False

In [ ]:
print(2==3)
print(2!=3)
print(2<3)
print(2>3)
print(2<=3)
print(2>=3)

False
True
True
False
True
False

In [ ]:
print(3==3.0)

True

#Some Useful Functions
* round()

In [1]:
print(round(4.556))
print(round(4.345))
print(round(4.556389,3))

5
4
4.556

* divmod()

In [2]:
B = divmod(27,5)
print(B)
type(B)

(5, 2)

tuple

In [4]:
B[0]

5

In [5]:
B[1]

2

* isinstance()

In [1]:
isinstance(3,int)

True

In [2]:
isinstance(3.4,(int))

False

In [3]:
isinstance(2+3j,(int,float,str,complex))

True

* pow()

In [4]:
pow(2,4)

16

In [5]:
pow(2,4,7)

2

* input()

In [7]:
x=input("Enter a number: ")

Enter a number: 12

In [8]:
type(x)

str

In [9]:
x=int(x)
type(x)

int

In [11]:
a=float(input("Enter a real number: "))

Enter a real number: 1.2

In [12]:
type(a)

float

In [13]:
b=float(input("Enter a real number: "))

Enter a real number: xyz

ValueError: could not convert string to float: 'xyz'

#How to know what a function is meant for

In [16]:
help(isinstance)
# isinstance? will also yield the same

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [17]:
help(pow)
# pow? will also yield the same

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

#Control Flow (Conditionals)

In [20]:
a=int(input())
b=int(input())
if(a>b):
  print("Bigger is",a)
  print("I am still inside if condition")
print("I am outside the if condition")

10
5
Bigger is 10
I am still inside if condition
I am outside the if condition

In [21]:
a=int(input())
b=int(input())
if(a>b):
  print("Bigger is",a)
elif(b>a):
  print("Bigger is",b)
else:
  print("Equal")

10
10
Equal

In [22]:
a=5
b=10
print("A") if a>b else print("B") if b>a else print("Equal")

B

In [1]:
a=int(input())
if a>10:
    print(">10")
elif not(a>10):
    print("Else part")

4
Else part

In [3]:
n=int(input())
if n>10:
  print("Larger than 10")
  if(n>20):
    print("Larger than 20")
  else:
    print("Less than 20")

12
Larger than 10
Less than 20

In [6]:
'''User will enter a floating point number let say 238.915. Your task is to find out the integer portion before the point (in this case 238) and then check if that integer portion
is an even number or not?'''

x=float(input())
y=round(x)

if x>0:
  if y>x:
    intPart=y-1
  else:
    intPart=y
else:
  if y<x:
    intPart=y+1
  else:
    intPart=y

if intPart%2==0:
  print("Even")
else:
  print("Odd")

32.65
Even